Task-1 : Create a pandas dataframe (Dataframe name as 'df') (10 observations and 5 features)

In [ ]:
import pandas as pd

In [ ]:
import numpy as np

In [ ]:
d = {'Name':['A','B','C','D','E','G','H','I','J','K'],'Age':[19,22,np.nan,18,19,25,22,20,26,np.nan],'Gender':['M','F','M','F','M','F','M','M','F','M'],'Salary':[10000,20000,15000,30000,25000,10000,20000,15000,30000,25000],'Attendance':['P','P','P','A','P','P','P','A','P','A']}
d

{'Name': ['A', 'B', 'C', 'D', 'E', 'G', 'H', 'I', 'J', 'K'],
 'Age': [19, 22, nan, 18, 19, 25, 22, 20, 26, nan],
 'Gender': ['M', 'F', 'M', 'F', 'M', 'F', 'M', 'M', 'F', 'M'],
 'Salary': [10000,
  20000,
  15000,
  30000,
  25000,
  10000,
  20000,
  15000,
  30000,
  25000],
 'Attendance': ['P', 'P', 'P', 'A', 'P', 'P', 'P', 'A', 'P', 'A']}

In [ ]:
df = pd.DataFrame(d)
df

  Name   Age Gender  Salary Attendance
0    A  19.0      M   10000          P
1    B  22.0      F   20000          P
2    C   NaN      M   15000          P
3    D  18.0      F   30000          A
4    E  19.0      M   25000          P
5    G  25.0      F   10000          P
6    H  22.0      M   20000          P
7    I  20.0      M   15000          A
8    J  26.0      F   30000          P
9    K   NaN      M   25000          A

Task-2 : Check the info of 'df'

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Name        10 non-null     object
 1   Age         8 non-null      float64
 2   Gender      10 non-null     object
 3   Salary      10 non-null     int64
 4   Attendance  10 non-null     object
dtypes: float64(1), int64(1), object(3)
memory usage: 528.0+ bytes

Task-3 : Check the descriptive statistics of 'df'

In [ ]:
df.describe()

             Age        Salary
count   8.000000     10.000000
mean   21.375000  20000.000000
std     2.924649   7453.559925
min    18.000000  10000.000000
25%    19.000000  15000.000000
50%    21.000000  20000.000000
75%    22.750000  25000.000000
max    26.000000  30000.000000

Task-4 : Check the 4th index observation with 'loc' slicing operator

In [ ]:
df.loc[4]

Name              E
Age            19.0
Gender            M
Salary        25000
Attendance        P
Name: 4, dtype: object

In [ ]:
df.loc[4,'Name':'Attendance']

Name              E
Age            19.0
Gender            M
Salary        25000
Attendance        P
Name: 4, dtype: object

Task-5 : Check the null values in your 'df'

In [ ]:
df.isnull().any()

Name          False
Age            True
Gender        False
Salary        False
Attendance    False
dtype: bool