In [ ]:
import pandas as pd
import numpy as np
from numpy import random

In [ ]:
x = random.randint(20, size=(4, 4))
# df = pd.DataFrame(np.random.randint(0, 100, size=(10, 5)), columns=list('ABCDE'))

df = pd.DataFrame(x, columns=["A", "B", "C", "D"], index=["a", "b", "c", "d"])
rows, cols = np.where(np.random.random(df.shape) < 0.2)
df.iloc[rows, cols] = np.nan

print(df)

    A    B   C     D
a  13  NaN   6   NaN
b  18  2.0   3   4.0
c   6  NaN  12   NaN
d  12  6.0   3  16.0

In [ ]:
df.rename(columns = {'A':'Random Value 1', 'B':'Random Value 2', 'C':'Random Value 3', 'D':'Random Value 4'}, inplace=True)
print(df)

   Random Value 1  Random Value 2  Random Value 3  Random Value 4
a              13             NaN               6             NaN
b              18             2.0               3             4.0
c               6             NaN              12             NaN
d              12             6.0               3            16.0

In [ ]:
df.describe()

       Random Value 1  Random Value 2  Random Value 3  Random Value 4
count        4.000000        2.000000        4.000000        2.000000
mean        12.250000        4.000000        6.000000       10.000000
std          4.924429        2.828427        4.242641        8.485281
min          6.000000        2.000000        3.000000        4.000000
25%         10.500000        3.000000        3.000000        7.000000
50%         12.500000        4.000000        4.500000       10.000000
75%         14.250000        5.000000        7.500000       13.000000
max         18.000000        6.000000       12.000000       16.000000

In [ ]:
df.isnull().sum().sum()

4

In [ ]:
df.isnull().sum()

Random Value 1    0
Random Value 2    2
Random Value 3    0
Random Value 4    2
dtype: int64

In [ ]:
result = df.values
print(result)

[[13. nan  6. nan]
 [18.  2.  3.  4.]
 [ 6. nan 12. nan]
 [12.  6.  3. 16.]]

In [ ]:
print(df[["Random Value 2", "Random Value 3"]])

   Random Value 2  Random Value 3
a             NaN               6
b             2.0               3
c             NaN              12
d             6.0               3

In [ ]:
print(df.loc['a':'d'][["Random Value 2"]])

   Random Value 2
a             NaN
b             2.0
c             NaN
d             6.0

In [ ]:
print(df.loc['a':'d'][["Random Value 3"]])

   Random Value 3
a               6
b               3
c              12
d               3